
@font-face {
    font-family: work_sans;
    font-style: normal;
    font-weight: 400;
    src: url("../funte/Work_Sans/static/WorkSans-Italic.ttf");
    }
    @font-face {
        font-family:open_sans;
        font-style: normal;
        font-weight: 400;
        src: url("../funte/Open_Sans/OpenSans-Italic.ttf");
        }

        @font-face {
            font-family: raleway;
            font-style: normal;
            font-weight: 400;
            src: url("../funte/Raleway/Raleway-Italic.ttf");
            } 


  h1{
      font-family:open_sans ;
      position: relative;
      top: 200;
  }
        h2{
       font-family: work_sans;
   }     

   #imagen{
    float:right;
    width: 900px; height: 700px;
}
#logo{
    float:right;
    width: 14px;     height:14px;
   
}
.logo{
    top: 200px; 
    left: 50px;
}
div
{
    position: relative;
    left: 1050px;
    top:20px;

}
.tipo{
    list-style: none;
    font-family: raleway;
    position: relative;
    top: 20; /* ajustar los valores para mover la imagen */
    left:800px;
}
.texto{
    font-family:open_sans ;
    position: relative;
    top: 200;
}